/**
 *	main.css
 *	
 */

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
	background-color: gray;
	height: 100%;
	width: 100%;
}

nav {
	z-index: 100;
	background-color: yellow;
}

nav li {
	
}